<% if signed_in? && (is_admin? || (@user.id == current_user.id))%>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>Perfil</h2>

      <% if !notice.nil? %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>

      <%= form_for(@user) do |f| %>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <%= f.text_field :email, class: 'form-control', placeholder: 'Correo', readonly: true %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
          <%= f.text_field :phone, class: 'form-control', placeholder: 'Teléfono' %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Titulo' %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Contraseña' %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmar contraseña' %>
        </div>

        <%= f.submit 'Actualizar', class: 'btn btn-lg btn-primary btn-block' %>
        <% if is_admin? %>
        <%= link_to 'Descartar', users_path, class: 'btn btn-lg btn-danger btn-block' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No tienes permiso para ver esta página.</h3>
    </div>
  </div>
<% end %>

<%#= link_to 'Edit', edit_user_path(@user) %>
<%#= link_to 'Back', users_path %>